.coach {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 300px;
  margin: 0px auto;
}

.compartment {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 calc(50% - 20px);

  padding: 10px;
}
